/* Footer */
.footer{
background-color: #F9F9F9;
height: 50px;
}

.btnFooter{
position: relative;
top: 70px;
background-color: white;
   
}
.fa-location-arrow{
position:relative;
color :#52584D;
right:39%;
}
.fa-location-arrow:hover { 
    color: #00A9A9;
}
.fa-sync-alt{
color:#52584D;
}

.fa-file-invoice{
position:relative;
color :#52584D;
margin-top: -4%;
left:39%;
}
.reportar-texto{
position:relative;
color :#52584D;
margin-bottom: 2%;
left:39%;   
}

.fa-file-invoice:hover{
color: #00A9A9;
}
.cajero-texto{
position:relative;
right:39%;
}
.fa-sync-alt:hover { 
color: #00A9A9;
}

/* Modal */
.showForm {
display: block;
}

.slideUpForm {
position: relative;
width: 0px;
border-radius: 100%;
width: 60px;
opacity: 0;
padding: 10vh 100px;
background: #52584D;
display: block;
margin: 20vh auto;
transition: all 0.75s ease;
z-index: 999;
}
.slideUpForm.active {
width: 100%;
height: auto;
opacity: 0.9;
top: 0;
border-radius: 0;
}
.slideUpForm input,.slideUpForm textarea,.custom-select {
width: 50%;
margin: 0.5em;
padding: 0.5em;
border: solid 2px #52584D;
outline: none;
}
.prueba{
margin: 0.5em;
padding: 0.5em;
outline: none;
}
.close {
position: absolute;
right: 10%;
top: 1em;
font-size: 16px;
border-radius: 50%;
padding: 5px 9px;
}
.close:hover{
color:#00A9A9;
}

/* Camara */
#startbutton{
    position: relative;
    left: 37%;
}
.send{
position: relative;
left: 35%;   
}