/* Footer */
.footer{
    background-color: #F9F9F9;
    height: 50px;
}

.btnFooter{
    position: relative;
    top: 70px;
    background-color: white;
    
    
}

.fa-location-arrow{
    color:#00A9A9;
}