/* Secci칩n de la cortina cuando se carga la p치gina */

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#courtainContainer {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#00A9A9, #A7B19F);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
    z-index: 10000;
}

.whiteLogo {
    width: 7rem;
}

.titleWelcome {
    color: white;
    letter-spacing: 10px;
    font-family: 'Open Sans', sans-serif;
}


/*Secci칩n login*/

.topRow {
    margin-top: 12rem;
}

.logocolor {
    width: 7rem;
}

.titleLogin {
    background: -webkit-linear-gradient(#00A9A9, #A7B19F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 10px;
    font-family: 'Open Sans', sans-serif;
}

.p {
    font-family: 'arial';
}

.btn {
    border: 0 none;
    border-radius: 24px;
    font-family: 'Open Sans', sans-serif;
}

.regist {
    background-color: white;
    font-weight: bolder;
    font-size: 17px;
}

.noAcc {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0%;
    margin-top: 1rem;
}

.mailLogin {
    width: 87%;
    background-image: linear-gradient(#00A9A9, #A7B19F);
    color: white;
    padding: 1rem;
    font-size: 17px;
}

.fbBtn {
    padding: 14px;
    width: 38%;
    color: white;
    background-color: #164F8E;
}

.googleBtn {
    padding: 14px;
    width: 38%;
    color: white;
    background-color: #E44747;
}

.btn-enter {
    background-image: linear-gradient(#00A9A9, #A7B19F);
    color: white;
}

.modal-header {
    background-image: linear-gradient(#00A9A9, #A7B19F);
    color: white;
}


/*P치gina*/

.cash {
    background-image: linear-gradient(#00A9A9, #A7B19F);
    color: white;
}

.fa-bell {
    margin-top: 30px;
    margin-left: 15px;
    width: 100%;
}

#footer {
    width: 100%;
    background-color: #A7B19F;
    position: absolute;
    bottom: 0;
}

.btn-footer {
    background-color: #A7B19F;
    color: white;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#start {
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    animation: fadein 1s;
}

#login {
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    animation: fadein 1s;
}
.icon{
    padding: 5px;
/* Footer */
}
.footer{
    background-color: #F9F9F9;
    height: 50px;
}

.btnFooter{
    position: relative;
    top: 70px;
    background-color: white;
    
    
}

.fa-location-arrow{
    color:#00A9A9;
}